*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 40px 0;
    width: 100%;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
   font-weight: bold;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
}
header img{
    width: 120px;
    height: 40px;
}
header ul li a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
}
.btn{
    font-family: 'Raleway', sans-serif;
    background-color:hsl(224, 93%, 58%); 
    font-size: 11px;    
    border-radius: 5px;
}
header ul li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    font-size: 14px;
}
.sec1{
    margin: 70px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec1 > div:first-child{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
}
.sec1 div:first-child p{
    margin-top: 20px;
    font-size: 16px;
}
.sec1 div:first-child input{
    width:50%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}
.sec1 div:first-child .btn{
    display:inline-block;   
    padding: 12px;
    margin-left: 5px;
    width:40%;

}
.sec1 div:first-child a{    
    text-decoration: none;  
    color:#fff;  
   
}
.sec1 div:nth-child(2){
    width: 50%;
    height: 100%;
    margin: 0 20px;
}
.sec1 div:nth-child(2) img{
    width: 100%;
    height: 100%;
}
.sec2-img{
    width: 100%;
    height: 100px;
    background-image: url(images/bg-curve-desktop.png);
    background-position: center;
    background-size: cover;

}
.sec2{
    width: 100%;
    margin: 0 auto;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    padding: 0 80px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#F8F8FE;
}

.sec2 > div:first-child{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sec2 div:first-child p{
    margin: 10px 0;
    font-size: 14px;
    width: 85%;
}
.sec2 div:first-child div:first-of-type a{
    color:hsl(170, 45%, 43%);
    font-size: 14px;    
    text-decoration: none;
    font-weight: 700;
}
.sec2 div:nth-child(2){
    width: 50%;
    height: 100%;
    margin: 0 20px;
} 
.sec2 div:nth-child(2) img{
    width: 100%;
    height: 100%;
}
.sec2 div:first-child div:first-of-type hr{
    width: 145px;
    color:hsl(170, 45%, 43%);
}
.sec2 .testimonial{
    background-color: #fff;
    width: 60%;
    padding: 20px;
    margin-top: 40px;
    -webkit-box-shadow: 6px 6px 5px -2px rgba(189,179,174,1);
-moz-box-shadow: 6px 6px 5px -2px rgba(189,179,174,1);
box-shadow: 6px 6px 5px -2px rgba(189,179,174,1);
   
}
.sec2 .testimonial p{
    font-size: 12px;

}
.sec2 .testimonial div:first-of-type{    
display: flex;
justify-content:flex-start;
align-items: center;
}

.sec2 .testimonial div:first-of-type img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.sec2 .testimonial div:first-of-type div:first-of-type{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.sec2 .testimonial div:first-of-type div:first-of-type span{
    font-size:9px;
    margin-left: 5px;
    vertical-align: top;

}
.access{
    background-color: hsl(238, 22%, 44%);
    padding: 60px 80px;
    color: #fff;
    display: flex;
    justify-content: space-between; 
}
.access p{
    font-size: 12px;
    margin-top: 20px;

}
.access div:first-child{
    width: 50%;
    float: left;
    margin-right: 105px;
}
.access div:first-child p{
    width: 70%;
    float: left;
    margin-right: 105px;
}
.access div:nth-child(2){
    width: 50%;
    float: right;
}
.access div:nth-child(2) input{
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    margin-bottom: 20px;
}
.access div:nth-child(2) .btn{   
   width: 50%;
   padding: 15px;
   text-align: center;
  
}
.access div:nth-child(2) a{
    color: #fff;
    text-decoration: none;
}
footer{
    background-color: hsl(243, 87%, 12%);
    padding: 60px 80px 20px;
    color: #fff;
    font-size: 11px;
    
}
footer > div:first-child{
    margin-bottom: 10px ;
}
footer .footer-cols div:first-child,footer .footer-cols div:nth-child(2),footer .footer-cols div:nth-child(3),footer .footer-cols div:nth-child(4){
    display: inline-block;    
}
footer .footer-cols div:first-child{
    width:35%;
    vertical-align: top;
}
.footer-cols div:nth-child(2),.footer-cols div:nth-child(3),.footer-cols div:nth-child(4){    
    width:20%;
    vertical-align: top;
}
.fab{
    color:#fff;
    padding: 6px;
    margin: 3px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 9px;
}

footer .footer-cols div:first-child img{
    width:10px;
    height: 10px;     
    margin-right: 10px;
    
}
.footer-cols div:first-child img,.footer-cols div:first-child span{
    display: inline-block;    
    vertical-align: top;
    margin-bottom: 20px;
}
footer .footer-cols div:nth-child(2) ul li, footer .footer-cols div:nth-child(3) ul li{
    list-style-type: none;
    margin-bottom: 10px;
    
}
footer .footer-cols div:nth-child(2) ul li a, footer .footer-cols div:nth-child(3) ul li a{
    color:#fff;
    font-size: 11px;
    text-decoration: none;
}
footer > div:nth-child(3){
    text-align: center;
    font-size: 11px;
    margin-top: 40px;
}

@media screen and (max-width:875px) {
    body{
        margin: 0;
    }
    header{
    padding: 40px 20px;
    width: 100%;
    margin: 0;
    align-items: center;
    }
    header img{
        width: 20%;
        height: 50%;
    }
    header ul li{
        padding: 10px;        
        font-size: 11px;
    }
    .sec1{
        flex-direction: column-reverse;
        padding: 40px 20px;
        margin: 40px auto;
        width: 100%;
    }
    .sec1 img{
        width: 100%;
    }
    .sec1 > div:first-child{
        width: 100%;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .sec1 > div:first-child h1{
        font-size: 24px;
        text-align: center;
        margin-top: 40px;
        font-weight: 700;
    }
    .sec1 > div:first-child p{
        width: 100%;
        text-align: center;
        padding: 0 5px;
        font-size: 16px;
        line-height: 2;
    }
    .sec1 > div:first-child input{
        width: 100%;
        padding: 10px 40px;
        font-family: 'Open Sans', sans-serif;
        border: 1px solid;
        margin-bottom: 20px;
    }
    .sec1 > div:first-child .btn{
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 15px 40px;
        font-size: 14px;
    }
    .sec2{
        flex-direction: column-reverse;
        padding: 0 20px 40px;
        width: 100%;
    }
    .sec2-img{
        background-image: url(images/bg-curve-mobile.png);
    }
   
    .sec2 > div:first-child  {
        margin: 60px 0;
        width: 100%;
        padding: 0 30px;
        line-height: 2;
        font-size: 18px;
    }
    .sec2 > div:first-child > h2{
        font-size: 16px;
        font-weight: bold;        
        text-align: center;
    }
    .sec2 > div:first-child > p{
        text-align: center;
        width: 100%;
    }
    .sec2 > div:first-child hr{
        width: 50%;
        margin: 0 auto;
    }
    .sec2 > div:first-child div:first-of-type{
        width: 100%;
        text-align: center; 
    }
   
    .sec2 .testimonial{
        width: 100%;
    }
    .sec2 .testimonial p{
        text-align: left;
    }
    .access{
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
        width: 100%;
    }
    .access > div:first-child{
        width: 100%;
        float: none;
        margin: 0;
        text-align: center;
    }
    .access > div:first-child h2{
        font-size: 22px;
    }
    .access > div:first-child > p{
        width: 100%;
        float: none;
        margin: 20px 0;
        text-align: center;
        line-height: 2;
        font-size: 15px;
    }
 
    .access > div:nth-child(2){
        width: 80%;
        text-align: center;
    }
    .access > div:nth-child(2) input{
        width: 100%;
        padding: 10px;
    }
    .access > div:nth-child(2) .btn{
        width: 100%;
    }
    .access > div:nth-child(2) a{
        padding: 10px;
    }
    footer{
        padding: 40px;
    }
    footer > div:first-child img{
           width: 180px; 
           height: 80px;
           margin-bottom: 20px;
    }
    footer > .footer-cols{
        flex-direction: column;
    }
    footer .footer-cols > div:first-child,footer .footer-cols > div:nth-child(2),footer .footer-cols > div:nth-child(3),footer .footer-cols > div:nth-child(4){
        
        display: block;
        width: 100%;
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 2;
    }
    footer .footer-cols div:first-child img{
        width: 20px;
        height: 20px;
        margin-bottom: 0;
    }
    footer .footer-cols div:first-child >span{
        font-size: 14px;
    }
    footer .footer-cols > div:nth-child(2) ul li a,footer .footer-cols > div:nth-child(3) ul li a{
   
        font-size: 14px;
    }
    .footer-cols > div:nth-child(4){
        text-align: center;
    }                                                                                                                                       
    .fab{
        padding: 10px;
        font-size: 12px;
    }
    
}