*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 40px 0;
    width: 100%;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
   font-weight: bold;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
}
header img{
    width: 120px;
    height: 40px;
}
header ul li a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
}
.btn{
    font-family: 'Raleway', sans-serif;
    background-color:hsl(224, 93%, 58%); 
    font-size: 11px;    
    border-radius: 5px;
}
header ul li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    font-size: 14px;
}
#sec1{
    margin: 70px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sec1-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
}
#sec1-text p{
    margin-top: 20px;
    font-size: 16px;
}
#sec1-text input{
    width:50%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}
#sec1-text .btn{
    display:inline-block;   
    padding: 12px;
    margin-left: 5px;
    width:40%;

}
#sec1-text a{    
    text-decoration: none;  
    color:#fff;  
   
}

#sec1-img{
    width: 50%;
    height: 100%;
    margin: 0 20px;
}
#sec1-img img{
    width: 100%;
    height: 100%;
}
#sec2-top-img{
    width: 100%;
    height: 100px;
    background-image: url(images/bg-curve-desktop.png);
    background-position: center;
    background-size: cover;

}
#sec2{
    width: 100%;
    margin: 0 auto;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#F8F8FE;
}

#sec2-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#sec2-text p{
    margin: 10px 0;
    font-size: 14px;
    width: 85%;
}
#sec2-link a{
    color:hsl(170, 45%, 43%);
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
}
#sec2-img{
    width: 50%;
    height: 100%;
    margin: 0 20px;
}
#sec2-img img{
    width: 100%;
    height: 100%;
}
hr{
    width: 145px;
    color:hsl(170, 45%, 43%);
}
#testimonial{
    background-color: #fff;
    width: 60%;
    padding: 20px;
    margin-top: 40px;
    -webkit-box-shadow: 6px 6px 5px -2px rgba(189,179,174,1);
-moz-box-shadow: 6px 6px 5px -2px rgba(189,179,174,1);
box-shadow: 6px 6px 5px -2px rgba(189,179,174,1);
   
}
#testimonial p{
    font-size: 12px;

}
#testimonial-img{    
display: flex;
justify-content:flex-start;
align-items: center;
}

#testimonial-img img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
#test-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#testimonial span{
    font-size:9px;
    margin-left: 5px;
    vertical-align: top;

}
#access{
    background-color: hsl(238, 22%, 44%);
    padding: 60px 80px;
    color: #fff;
    display: flex;
    justify-content: space-between; 
}
#access p{
    font-size: 12px;
    margin-top: 20px;

}
#access-text{
    width: 50%;
    float: left;
    margin-right: 105px;
}
#access-text p{
    width: 70%;
    float: left;
    margin-right: 105px;
}
#access-input{
    width: 50%;
    float: right;
}
#access-input input{
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    margin-bottom: 20px;
}
#access-input .btn{   
   width: 50%;
   padding: 15px;
   text-align: center;
  
}
#access-input a{
    color: #fff;
    text-decoration: none;
}
footer{
    background-color: hsl(243, 87%, 12%);
    padding: 60px 80px 20px;
    color: #fff;
    font-size: 11px;
    
}
#col1,#col2,#col3,#col4{
    display: inline-block;    
}
#col1{
    width:35%;
    vertical-align: top;
}
#col2,#col3,#col4{    
    width:20%;
    vertical-align: top;
}
.fab{
    color:#fff;
    padding: 6px;
    margin: 3px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 9px;
}

.footer-icon img{
    width:10px;
    height: 10px;     
    margin-right: 10px;
    
}
.footer-icon,.footer-text{
    display: inline-block;    
    vertical-align: top;
    margin-bottom: 20px;
}
#col2 ul li, #col3 ul li{
    list-style-type: none;
    margin-bottom: 10px;
    
}
#col2 ul li a, #col3 ul li a{
    color:#fff;
    font-size: 11px;
    text-decoration: none;
}
#copyright{
    text-align: center;
    font-size: 11px;
    margin-top: 40px;
}

@media screen and (max-width:700px) and (min-width:300px){
    body{
        margin: 0;
    }
    header{
    padding: 40px 20px;
    width: 100%;
    margin: 0;
    align-items: center;
    }
    header img{
        width: 20%;
        height: 50%;
    }
    header ul li{
        padding: 10px;        
        font-size: 11px;
    }
    #sec1{
        flex-direction: column-reverse;
        padding: 40px 20px;
        margin: 40px auto;
        width: 100%;
    }
    #sec1-img{
        width: 100%;
    }
    #sec1-text{
        width: 100%;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    #sec1-text h1{
        font-size: 24px;
        text-align: center;
        margin-top: 40px;
        font-weight: 700;
    }
    #sec1-text p{
        width: 100%;
        text-align: center;
        padding: 0 5px;
        font-size: 16px;
        line-height: 2;
    }
    #sec1-text input{
        width: 100%;
        padding: 10px 40px;
        font-family: 'Open Sans', sans-serif;
        border: 1px solid;
        margin-bottom: 20px;
    }
    #sec1-text .btn{
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 15px 40px;
        font-size: 14px;
    }
    #sec2{
        flex-direction: column-reverse;
        padding: 0 20px 40px;
        width: 100%;
    }
    #sec2-top-image{
        background-image: url(images/bg-curve-mobile.png);
    }
   
    #sec2-text {
        margin: 60px 0;
        width: 100%;
        padding: 0 30px;
        line-height: 2;
        font-size: 18px;
    }
    #sec2-text h2{
        font-size: 18px;
        font-weight: bold;        
        text-align: center;
    }
    #sec2-text p{
        text-align: center;
        width: 100%;
    }
    #sec2-text hr{
        width: 50%;
        margin: 0 auto;
    }
    #sec2-link{
        text-align: center;
    }
    #testimonial{
        width: 100%;
    }
    #testimonial p{
        text-align: left;
    }
    #access{
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
        width: 100%;
    }
    #access-text{
        width: 100%;
        float: none;
        margin: 0;
        text-align: center;
    }
    #access-text h2{
        font-size: 22px;
    }
    #access-text p{
        width: 100%;
        float: none;
        margin: 20px 0;
        text-align: center;
        line-height: 2;
        font-size: 15px;
    }
 
    #access-input{
        width: 80%;
        text-align: center;
    }
    #access-input input{
        width: 100%;
        padding: 10px;
    }
    #access-input .btn{
        width: 100%;
    }
    #access-input a{
        padding: 10px;
    }
    footer{
        padding: 40px;
    }
    #footer-logo img{
           width: 180px; 
           height: 80px;
           margin-bottom: 20px;
    }
    .footer-cols{
        flex-direction: column;
    }
    #col1,#col2,#col3,#col4{
        display: block;
        width: 100%;
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 2;
    }
    #col2 ul li a, #col3 ul li a{
        font-size: 16px;
    }
    #col4{
        text-align: center;
    }
    .fab{
        padding: 10px;
        font-size: 12px;
    }
    
}